{
	"printWidth": 20000,
	"eslintIntegration": false,
	"vueIndentScriptAndStyle": false,
	"singleAttributePerLine": false,
	"singleQuote": true,
	"semi": true,
	"useTabs": true,
	"bracketSpacing": true,
	"arrowParens": "avoid"
}

